@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-cyrillic_latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-cyrillic_latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-cyrillic_latin-700italic.woff2")
    format("woff2");
}

html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background-color: #fafafa;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.close__button {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  cursor: pointer;
  outline: none;
}

.close__button--white {
  color: #fff;
}

.button--orange,
.link--orange {
  border: 1px solid transparent;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 20px;
  min-width: 144px;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  outline: none;
}

.button--orange:hover,
.button--orange:focus,
.link--orange:hover,
.link--orange:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.button--orange:active,
.link--orange:active {
  background-color: #d66f00;
  color: #fff;
}

.button:focus {
  outline: none;
}

.decaration-orange {
  color: #fd9222;
}

.header {
  margin-bottom: 32px;
  color: #111111;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.header__logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.03em;
}

.header__logo {
  margin-right: 50px;
}

.header__logo span {
  font-style: italic;
}

.logo__img {
  width: 24px;
  height: 24px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__close-button {
  display: none;
}

.nav__list {
  display: flex;
  gap: 24px;
}

.nav__list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
}

.header__link,
.footer__nav-link {
  position: relative;
}

.header__link:before,
.footer__nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fd9222;
  transition-duration: 0.4s;
  transition-property: transform;
  transform: scaleX(0);
}

.header__link:hover:before,
.footer__nav-link:hover:before {
  transform: scaleX(1);
}

.header__link:hover,
.header__link:focus {
  color: #fd9222;
}

.header__link:focus {
  outline: none;
}

.header__link:active {
  color: #d66f00;
}

.header__social-links {
  display: flex;
  gap: 18px;
  align-items: center;
}

.header__social-link {
  width: 24px;
  height: 24px;
}

.header__social-link:hover,
.header__social-link:focus,
.footer__social-link:hover,
.footer__social-link:focus,
.footer__contacts-link:hover,
.footer__contacts-link:focus,
.close__button:hover,
.close__button:focus,
#play__btn:hover,
#play__btn:focus {
  color: #fd9222;
  outline: none;
}

.header__social-link:active,
.footer__social-link:active,
.footer__contacts-link:active,
.close__button:active,
#play__btn:active {
  color: #d66f00;
}

.hero {
  max-width: 1136px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 72px;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/hero_cover_eclairs.jpg);
  background-color: #1e1823;
  color: #fff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 600px;
}

.hero__text {
  width: 570px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
}

.hero__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
}

.hero__links_container {
  display: flex;
  gap: 14px;
}

.hero__link-buy,
.bestsellers__button,
.review__link,
.button__buy,
.hero__link {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
}

.hero__link-how {
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 20px;
  min-width: 183px;
  min-height: 45px;
  color: #fff;
}

.hero__link-how:hover,
.hero__link-how:focus {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.hero__link-how:active {
  border: 1px solid #d66f00;
  color: #d66f00;
}

.hero__link-scroll_container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero__link-scroll-text {
  margin-left: auto;
}

.hero__link-scroll {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  color: #fff;
}

#btn__down {
  position: absolute;
  content: "";
  top: 15px;
  right: 14px;
  width: 20px;
  height: 20px;
  color: #fd9222;
}

.hero__link-scroll:hover,
.hero__link-scroll:focus,
.hero__link-scroll:hover #btn__down,
.hero__link-scroll:focus #btn__down {
  color: #fff;
  background-color: #fd9222;
}

.hero__link-scroll:active,
.hero__link-scroll:active #btn__down {
  background-color: #d66f00;
}

.quality {
  margin-bottom: 128px;
  background-color: #1e1823;
  color: #fff;
}

.quality__list {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding: 50px;
}

.quality__item {
  position: relative;
  width: 308px;
}

.quality__item::before {
  content: "";
  top: 126px;
  right: -92px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 124px;
  height: 0px;
  transform: rotate(-90deg);
}

.quality__item:last-child::before {
  content: none;
}

.quality__item_logo-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}

.quality__item_logo-img {
  width: 32px;
  height: 32px;
}

.quality__item-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.quality__item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.compound {
  margin-bottom: 128px;
}

.compound__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compound__title,
.made__title,
.products__title,
.bestsellers__title,
.review__title {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.compound__text {
  width: 486px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111111;
}

.compound__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  max-width: 1200px;
  flex-wrap: wrap;
}

.compound__item {
  cursor: pointer;
  width: 270px;
  min-height: 270px;
  background-color: #fff;
  order: 5;
  border-radius: 15px;
  background-color: #fafafa;
}

/* разворот карточки */
.compound__item {
  position: relative;
  perspective: 1000px;
}

.compound__item-container {
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
  height: 100%;
}

.compound__item:hover .compound__item-container {
  transform: rotateY(180deg);
}

.card__front {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #fd9222;
}

.card__back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
/* конец разворота карточки */

.card__front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  gap: 36px;
}

.card__back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  background-color: #fff;
}

.compound__item-button {
  margin-bottom: 14px;
  border-radius: 35px;
  padding: 0px;
  width: 81px;
  min-height: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #fff;
}

.compound__item-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

.compound__item-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111111;
}

.compound__item-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.compound__item:first-child .card__front {
  background-color: #fd9222;
}

.compound__item:nth-child(3) .card__front {
  border: 1px solid transparent;
  background-color: #1e1823;
}

.compound__item:first-child .compound__item-text,
.compound__item:nth-child(3) .compound__item-text {
  color: #fff;
}

.made {
  margin-bottom: 128px;
}

.made__title,
.products__title,
.bestsellers__title,
.review__title {
  margin-bottom: 50px;
}

.made__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.made__block-link {
  position: relative;
  border-radius: 15px;
  min-width: 600px;
  min-height: 400px;
  background-size: cover;
  background-image: url("../img/cooking-cover.jpg");
  background-color: #302e2e;
}

#play__btn {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  cursor: pointer;
  width: 44px;
  height: 44px;
  color: #fff;
}

#play__btn:hover {
  transform: scale(1.2);
}

.made__block-right {
  padding: 32px;
  background-color: #fff;
  border-radius: 15px;
  min-width: 516px;
}

.made__block-right_title {
  max-width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #111111;
}

.made__block-right_list {
  list-style: disc;
}

.made__block-right_item::marker {
  color: #4c4c4c;
}

.made__block-right_item {
  max-width: 425px;
  padding-bottom: 24px;
}

.made__block-right_item:last-child {
  padding-bottom: 0;
}

.made__block-right_item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111;
}

.products {
  margin-bottom: 128px;
}

/* стили слайдера блока с продуктами */
.swiper-wrapper {
  margin-bottom: 62px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  height: auto;
}

.products__slider {
  margin-bottom: 24px;
}

.products__slider .swiper-pagination-bullet,
.review__slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.5);
  outline: none;
}

.products__slider .swiper-pagination-bullet-active,
.review__slider .swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 10px;
  background-color: #fd9222;
}

#products__swiper-pagination .swiper-pagination-bullet,
#review__swiper-pagination .swiper-pagination-bullet {
  margin-right: 13px;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 270px;
  min-height: 364px;
  background-color: #fff;
}

.products__item-img {
  border-radius: 15px 15px 0 0;
  margin-bottom: 20px;
}

.products__item-title {
  margin-bottom: 2px;
  padding: 0 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  word-wrap: break-word;
}

.products__item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  min-width: 100px;
  height: 33px;
  margin-bottom: 8px;
  margin-top: auto;
}

.products__price-text {
  font-weight: 600;
  font-size: 14px;
  color: #111111;
}

.products__button {
  padding: 8px 20px;
  min-width: 94px;
  min-height: 33px;
  margin-bottom: 32px;
}

.button__buy {
  text-align: center;
  min-height: 50px;
  margin: 0 auto;
}

.bestsellers {
  margin-bottom: 128px;
}

.bestsellers__list__container {
  display: flex;
  flex-direction: column;
}

.bestsellers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  margin-bottom: 32px;
}

.bestsellers__item {
  min-width: 368px;
}

.bestsellers__item-img {
  border-radius: 15px;
  width: 368px;
  height: 464px;
}

.bestsellers__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bestsellers__text {
  max-width: 408px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111;
}

.bestsellers__button {
  text-align: center;
  max-height: 50px;
}

.review {
  margin-bottom: 128px;
}

.review__title {
  margin-bottom: 50px;
}

.review__slider {
  margin-bottom: 50px;
}

.review__slider-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 360px;
  min-height: 200px;
  margin-bottom: 44px;
}

.slider-item__container {
  display: flex;
  flex-direction: column;
}

.review__img-container {
  height: 40px;
  width: 360px;
  position: relative;
}

.review__slider-img {
  content: "";
  position: absolute;
  top: 0;
  right: 140px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.review__info-container {
  flex-grow: 1;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  min-height: 200px;
  box-shadow: 0 9px 27px 0 rgba(215, 228, 249, 0.25);
  background: #fff;
}

.review__slider-title {
  margin-top: 58px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #111111;
}

.review__slider-text {
  padding: 0 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  padding-bottom: 24px;
  color: rgba(17, 17, 17, 0.7);
}

.review__link {
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 20px;
  width: 222px;
  min-height: 50px;
  color: #111;
}

.review__link:hover,
.review__link:focus {
  background: #fd9222;
  color: #fff;
}

.review__link:active {
  background: #d66f00;
}

.subscribe {
  background-size: cover;
  background-image: url(../img/subscribe-cover.jpg);
  background-color: #636363;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__title {
  margin-bottom: 24px;
  padding-top: 72px;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.subscribe__text {
  max-width: 467px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.subscribe__button {
  margin-bottom: 72px;
}

.footer {
  background: #1e1823;
  color: #fff;
}

.footer__top-line {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 58px;
}

.footer__top-line-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  margin-right: 12px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer__contacts-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: left;
  margin-bottom: 14px;
}

.footer__contacts-tel,
.footer__contacts-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: left;
}

.footer__contacts-tel {
  margin-bottom: 4px;
}

.footer__socials-link {
  display: flex;
  gap: 18px;
  margin-left: 64px;
}

.footer__social-link {
  display: block;
  width: 24px;
  height: 24px;
}

.footer__nav {
  padding-top: 24px;
  padding-bottom: 50px;
}

.footer__nav-list {
  display: flex;
  gap: 24px;
}

.footer__nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer__nav-link:hover,
.footer__nav-link:focus {
  color: #fd9222;
}

.footer__nav-link:focus {
  outline: none;
}

.footer__nav-link:active {
  color: #d66f00;
}

/* стили для popup subscribe */
.subscribe__popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 538px;
  min-height: 412px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 6;
  border-radius: 15px;
  background-color: #fafafa;
}

.subscribe-popup__container {
  padding: 40px;
}

.subscribe-popup__img {
  background-color: #b4b4b4;
  background-image: url("../img/subscribe-popup.jpg");
  width: 538px;
  height: 196px;
  border-radius: 15px 15px 0 0;
}

.subscribe-popup__second-line {
  display: flex;
  gap: 8px;
}

.subscribe-popup__title {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

.subscribe-popup__second-line input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  outline: none;
}

.subscribe-popup__second-line input::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.subscribe-popup__button {
  padding: 12px;
  min-width: 137px;
  min-height: 52px;
}

.subscribe-popup__close-button {
  top: 16px;
  right: 12px;
}

/* стили для popup корзины */
/* фиксированная высота нужна, чтобы работал скролл при переполнении */
.cart__popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 610px;
  height: 860px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 6;
  border-radius: 15px;
  background-color: #fafafa;
  overflow: auto;
  box-shadow: 0 9px 27px 0 #5f5f5f;
}

.cart-popup__form {
  position: relative;
}

.cart-popup__container {
  padding: 48px;
}

.cart-popup__title,
.cart-popup__text {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.cart-popup__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
}

.cart-popup__item {
  display: flex;
  position: relative;
  gap: 14px;
  width: 160px;
  min-height: 196px;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.cart__item-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-popup__img {
  border-radius: 15px 15px 0 0;
}

.cart__item-title {
  width: 140px;
  word-wrap: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.cart__item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  min-width: 94px;
  height: 33px;
}

.cart__price-text {
  font-weight: 600;
  font-size: 14px;
  color: #111111;
}

.cart__count {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.count__btn,
.cart__count-container {
  min-width: 28px;
  height: 28px;
  background-color: #fd9222;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.cart__count-container {
  min-width: 32px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  color: #111;
  text-align: center;
}

.cart__sum {
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
}

.cart__sum-text,
.cart__sum-container {
  font-weight: 600;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #fd9222;
}

.cart__sum-container {
  color: #111;
}

.form__fieldset {
  padding: 0;
  border: none;
}

.form__fieldset_client {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__fieldset_text {
  margin-bottom: 8px;
}

.fieldset__inputs-container {
  display: flex;
  gap: 21px;
}

.form__fieldset_input {
  margin-bottom: 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 12px 16px;
  min-width: 246px;
  height: 44px;
  outline: none;
  background-color: #fafafa;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #111111;
}

.fieldset__input--email,
.fieldset__input--number {
  min-width: 513px;
}

.form__fieldset_input::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.form__fieldset_textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 12px 16px;
  width: 513px;
  height: 137px;
  outline: none;
  resize: none;
  margin-bottom: 18px;
  background-color: #fafafa;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.form__fieldset_textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.form__client_close-button {
  top: 12px;
  right: 12px;
}

.burger {
  position: relative;
  display: none;
  --width: 24px;
  --height: 16px;
  --size-line: 2px;
  color: #111111;
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.burger__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: var(--size-line);
  transform: translateY(-50%);
  background-color: #111111;
  transition: transform 0.3s ease-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: var(--size-line);
  background-color: #111111;
  transform: scale(1);
  transition: transform 0.3s ease-out, top 0.3s ease-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--size-line));
}

/* Чекбокс  https://frontips.ru/css-stili-dlya-checkbox/ */
.checkbox.style-h {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: auto;
}

.checkbox.style-h input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox.style-h input:checked ~ .checkbox__checkmark {
  background-color: #111;
}

.checkbox.style-h input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
  top: -3px;
}

.checkbox.style-h input:checked ~ .checkbox__body {
  background-position: 0 0;
  color: #111;
}

.checkbox.style-h:hover input ~ .checkbox__checkmark {
  background-color: #fafafa;
}

.checkbox.style-h:hover input:checked ~ .checkbox__checkmark {
  background-color: #111;
}

.checkbox.style-h .checkbox__checkmark {
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  left: 20px;
  height: 16px;
  width: 16px;
  background-color: #fafafa;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}

.checkbox.style-h .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: -15px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease, top 0.25s ease;
}

.checkbox.style-h .checkbox__body {
  background-size: 200% 100%;
  background-position: 100% 0;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
}

.checkbox__body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 10px;
}

.checkbox__body:focus,
.checkbox__body:hover {
  background-color: #d66f00;
  color: #fff;
}

@media (max-width: 1200px) {
  .compound__list {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }

  .compound__item:nth-child(3) {
    order: 6;
  }

  .made__block {
    flex-direction: column;
    align-items: center;
  }

  .made__block-right {
    min-width: 600px;
  }

  .products__slider {
    max-width: 846px;
  }

  .review__slider {
    max-width: 748px;
  }
}

@media (max-width: 920px) {
  .burger {
    display: block;
  }

  .header {
    margin-bottom: 24px;
  }

  .logo__text,
  .header__logo span {
    font-size: 14px;
    line-height: 129%;
  }

  .logo__img {
    width: 21px;
    height: 21px;
  }

  .header__container {
    position: relative;
  }

  .header__close-button--active {
    display: block;
    margin-left: auto;
    margin-bottom: 88px;
    position: relative;
  }

  .header__nav_container {
    display: flex;
  }

  .header__nav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -24px;
    right: 0;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px 32px;
    z-index: 6;
    width: 290px;
    height: 95vh;
    background-color: #1e1823;
  }

  .header__nav_active {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__list-item {
    color: #fff;
  }

  .header__social-links {
    color: #fff;
    margin-top: auto;
    margin-right: auto;
  }

  .hero {
    min-height: 890px;
    margin-bottom: 50px;
    background-image: url("../img/hero_cover_eclairs-920.jpg");
  }

  .hero__container {
    min-height: 890px;
  }

  .quality,
  .bestsellers,
  .compound,
  .products,
  .review {
    margin-bottom: 100px;
  }

  .quality__list {
    gap: 32px;
    flex-wrap: wrap;
  }

  .quality__list {
    padding: 50px 0px;
  }

  .quality__item {
    width: 336px;
  }

  .quality__item::before {
    content: none;
  }

  .compound__list {
    gap: 32px;
  }

  .compound__item {
    width: 336px;
  }

  .made {
    margin-bottom: 100px;
  }

  .made__block {
    flex-direction: column;
    align-items: center;
  }

  .made__block-right {
    min-width: 614px;
  }

  .products__slider {
    max-width: 558px;
  }

  .bestsellers__item {
    min-width: 344px;
  }

  .bestsellers__item-img {
    width: 344px;
  }

  .bestsellers__list li:last-child {
    display: none;
  }

  .bestsellers__text {
    max-width: 306px;
  }

  .review__slider-item {
    width: 344px;
  }

  .review__slider-img {
    right: 124px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 26px;
  }

  .bestsellers__item {
    min-width: 335px;
  }

  .bestsellers__item-img {
    width: 335px;
  }

  .footer__socials-link {
    margin-left: 50px;
  }

  .subscribe {
    background-image: url("../img/subscribe-cover-768.jpg");
  }

  .subscribe-popup__container {
    padding: 40px;
  }

  .review__slider {
    max-width: 704px;
  }

  .review__img-container,
  .review__info-container {
    width: 344px;
  }

  .review__slider-text {
    padding-bottom: 18px;
  }

  .cart-popup__container {
    padding: 48px;
  }
}

@media (max-width: 740px) {
  .compound__list {
    grid-template-columns: repeat(1, 4fr);
  }

  .compound__item:nth-child(3) {
    order: 5;
  }

  .bestsellers__list {
    flex-direction: column;
    align-items: center;
  }

  .review__slider {
    width: 335px;
  }

  .review__img-container,
  .review__info-container {
    width: 335px;
  }
}

@media (max-width: 670px) {
  .made__block-link,
  .made__block-right {
    min-width: 520px;
  }

  .cart__popup {
    width: 420px;
  }

  .cart-popup__title,
  .cart-popup__text {
    font-size: 20px;
    line-height: 120%;
  }

  .form__fieldset_text {
    font-size: 12px;
    line-height: 117%;
  }

  .fieldset__inputs-container {
    flex-direction: column;
    gap: 14px;
  }

  .form__fieldset_input {
    min-width: 368px;
  }

  .form__fieldset_textarea {
    width: 368px;
    height: 92px;
  }

  .cart-popup__container {
    padding: 32px 24px;
  }
}

@media (max-width: 610px) {
  .hero__text {
    width: 500px;
  }

  .products__slider {
    max-width: 336px;
  }

  .products__item {
    width: 336px;
  }

  .products__item-img {
    width: 336px;
  }
}

@media (max-width: 560px) {
  .container {
    padding: 0 20px;
  }

  .button--orange,
  .link--orange {
    padding: 12px 18px;
    font-size: 14px;
  }

  .checkbox__body {
    padding: 8px 10px 8px 30px;
  }

  .header {
    margin-bottom: 14px;
  }

  .header__container {
    margin-top: 20px;
  }

  .hero {
    min-height: 620px;
    margin-bottom: 71px;
    background-image: url("../img/hero_cover_eclairs-540.jpg");
  }

  .hero__container {
    min-height: 620px;
  }

  .hero__text {
    width: 290px;
    font-size: 20px;
    line-height: 120%;
  }

  .hero__links {
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .hero__link-scroll {
    width: 28px;
    height: 28px;
  }

  .hero__link-scroll::before {
    top: 7px;
    right: 6px;
    width: 16px;
    height: 16px;
  }

  .hero__link-scroll_container {
    display: none;
  }

  .hero__link-scroll-text {
    font-size: 12px;
    line-height: 117%;
  }

  .quality,
  .bestsellers,
  .compound,
  .review {
    margin-bottom: 72px;
  }

  .quality__list {
    padding: 20px 0;
    gap: 20px;
  }

  .compound__title {
    width: 283px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 120%;
  }

  .compound__text {
    margin-bottom: 32px;
    width: 335px;
  }

  .compound__list {
    gap: 20px;
  }

  .made__title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 120%;
  }

  .made__block-link {
    min-width: 320px;
    min-height: 500px;
    background-image: url("../img/cooking-cover-335.jpg");
  }

  .made__block-right {
    width: 320px;
    min-width: 320px;
  }

  .products__slider {
    max-width: 336px;
  }

  .products__item {
    width: 336px;
  }

  .products__item-img {
    width: 336px;
  }

  .bestsellers__list {
    flex-direction: column;
    align-items: center;
  }

  .bestsellers__info {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .review__slider-item {
    width: 336px;
  }

  .review__link {
    width: 180px;
  }

  .slider-item__container {
    width: 336px;
  }

  .subscribe {
    background-image: url("../img/subscribe-cover-375.jpg");
  }

  .subscribe__title {
    font-size: 20px;
    line-height: 120%;
  }

  .subscribe__text {
    width: 326px;
  }

  .subscribe__button {
    margin-bottom: 64px;
  }

  .subscribe__popup {
    width: 312px;
    min-height: 350px;
  }

  .subscribe-popup__img {
    background-image: url("../img/subscribe-popup-320.jpg");
    width: 312px;
    height: 168px;
  }

  .subscribe-popup__container {
    padding: 32px 24px;
  }

  .subscribe-popup__title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
  }

  .subscribe-popup__second-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .subscribe-popup__second-line input {
    width: 264px;
    border-radius: 25px;
    padding: 13px 18px;
    height: 45px;
  }

  .subscribe-popup__second-line input::placeholder {
    font-size: 13px;
  }

  .cart__popup {
    width: 312px;
    height: 95vh;
  }

  .cart-popup__container {
    padding: 10px 20px;
  }

  .form__fieldset_input::placeholder {
    font-weight: 400;
    font-size: 13px;
  }

  .form__fieldset_input {
    min-width: 264px;
  }

  .form__fieldset_textarea {
    width: 264px;
  }

  .footer__top-line {
    margin-bottom: 32px;
    padding-top: 32px;
    flex-wrap: wrap;
  }

  .footer__top-line-title {
    width: 320px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 117%;
  }

  .footer__contacts {
    margin: 0;
  }

  .footer__nav {
    padding-bottom: 32px;
  }

  .footer__nav-list {
    flex-direction: column;
    gap: 18px;
  }
}
